<h1>Lista de Pedidos</h1>
<ul>
       <li> CLIENTE  |  Telefone  |  Itens         |  Frete         |      </li>
    {% for pedido in pedidos %}
        <li>{{ pedido.cliente }} - {{ pedido.cliente.telefone }} - {{ item.descricao }} - {{ pedido.valor_total }} - {{ pedido.status_frete }} - {{ pedido.item.estoque }}</li>
    {% empty %}
        <li>Sem pedidos cadastrados.</li>
    {% endfor %}
</ul>

<hr>

<ul>
    {% for pedido in pedidos %}
        <li>
            Pedido de {{ pedido.cliente.nome }}:
            <ul>
                {% for item in pedido.itens.all %}
                    <li>{{ item.descricao }} - {{ item.valor }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>