{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Itens</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
</head>
<body>
    <h2>Cadastrar Item</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Item</button>
    </form>
</body>
</html>
