{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Itens</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">

</head>     
<body>
    <div class="cont">
        <div class="cabeca">
            <h1>Lista de Itens</h1>
            <p>Confira os itens cadastrados no sistema e gerencie suas ações.</p>
        </div>

        {% if itens %}
            {% for item in itens %}
            <div class="item-card">
                <div class="item-info">
                    <p><strong>{{ item.descricao }}</strong></p>
                    <p>Valor: R$ {{ item.valor|floatformat:2 }}</p>
                    <p>Estoque: {{ item.estoque }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Sem itens cadastrados.</p>
        {% endif %}
    </div>
</body>
</html>