{% load static %}

<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Pedidos</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
<head>
    <title>Cadastrar Pedido</title>
</head>
<body>
    <div class="cont">
        <div class="cabeca">
    <h2>Cadastrar Pedido</h2>
    <form id="msform" method="POST">
        {% csrf_token %}
        <h3>Cliente</h3>
        {{ cliente_form.as_p }}
        {{ cliente_form.errors }}

        
        <h3>Endereço</h3>

        {{ endereco_formset.management_form }} 
        {{ endereco_formset.as_p }}
        {{ endereco_formset.errors }}

        <!-- Renderizando o campo de múltipla escolha (itens) com caixas de seleção -->
        <h3>Itens</h3>
        <p>
            {{ pedido_form.itens.label_tag }} {{ pedido_form.itens }}
        </p>
        <!-- {{ pedido_form.quantidade.label_tag }} {{ pedido_form.quantidade }} -->
        <h3>Frete</h3>
        {{ pedido_form.tipo_frete.label_tag }} {{ pedido_form.tipo_frete }}
        {{ pedido_form.valor_frete.label_tag }} {{ pedido_form.valor_frete }}
        {{ pedido_form.status_frete.label_tag }} {{ pedido_form.status_frete }}
        {{ pedido_form.rastreio_frete.label_tag }} {{ pedido_form.rastreio_frete }}
        
        <h3>Pagamento</h3>

        {{ pagamento_form.as_p }}
        {{ pagamento_form.errors }}
        <!-- VALOR TOTAL -->

        {{ pedido_form.valor_total.label_tag }} {{ pedido_form.valor_total }}
        {{ pedido_form.canal_venda.label_tag }} {{ pedido_form.canal_venda }}
               
        <!-- Renderizando os campos do formulário -->
        {{ pedido_form.non_field_errors }}    
        {{ pedido_form.errors }}
        <!--Pedido--  não apagar - esta linha que salva - faz o UPDATE -->
        <p>
            <button type="submit" class="submit action-button">Salvar Pedido</button>
        </p>
    </form>
    </div>
</div>
</body>
</html>